body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E1E1E;
    color: #D8DEE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.editor-top {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #1E1E1E;
}
.editor-top h1 {
    margin: 5px;
    font-weight: bold;
    font-size: 50px;
    color: #3498db;
    text-align: center;
    display : flex;
}

#save-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s ease;
}
#save-button:hover {
    background-color: #899d8a;
}
#return-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s ease;
}
#return-button:hover {
    background-color: #43f04c;
}
.close {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s ease;
}
.close:hover {
    background-color: #1E1E1E;
}
#editor-container {
    width: 90%;
    height: 100%;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    margin-top: 10px;
}
